<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Products!</title>
  </head>
  <body>
    <h1>All Products!</h1>
    <p>Create a new product: <a href="/products/new">Click Here!</a></p>
    <ul>
      <% for(let each of products) {%>
      <li>
        <%= each.name %> : $<%= each.price %> From: <%= each.category %>
        <a href="/products/<%= each.id %>">Details</a>
      </li>
      <% }%>
    </ul>
  </body>
</html>
